<div class="container">

  <div class="loginWindow">
    <h1>Login</h1>


    <form (ngSubmit)="onSubmit()"#regForm="ngForm">
      <div class="form-group row">
        <label for="password" class="col-sm-2 col-form-label col-form-label"><img src="../assets/lock.svg"
                                                                                  height="25"/></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="password"
                 required appPassword
                 [(ngModel)]="password" name="password" placeholder="Password">
        </div>
      </div>

      <button type="submit" class="btn btn-success btn-lg " [disabled]="!regForm.form.valid">Submit</button>
      <p>{{message}}</p>
    </form>
  </div>
</div>
