.loginWindow {
  top: 30%;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 20%;
}

.full-height {
  height: 100vh !important;
  background: #fd7e14;
  background: linear-gradient(to right, #fd7e14, #D9B23D);
}


