.board {
  width: 100%;
  height: auto;
}

area {
  display: block;
  cursor: pointer;
}

.info {
  position: absolute;
  left: 40%;
  top: 30%;

}

.list-group-item-mine {
  background-color: #F2D16D;
}

.list-group-mine {
  border-radius: 25px;
}

.title {
  position: absolute;
  left: 40%;
  top: 30%;
}



#image-map {
  width: 100%;
  //max-width: 812px;
  position: relative;

  img {
    max-width: 100%;
  }
}

#Square3 {
  //border: 1px solid red;
  height: 15%;
  width: 15%;
  position: absolute;
  left: 34%;
  top: 2%;
}

#Square11 {
  //border: 1px solid red;
  height: 15%;
  width: 15%;
  position: absolute;
  left: 68%;
  top: 82%;
}

#Square14 {
  //border: 1px solid red;
  height: 15%;
  width: 15%;
  position: absolute;
  left: 19%;
  top: 83%;
}

a {
  cursor: pointer;
}

.returnBtn {
  position: absolute;
  bottom: 10%;
  left: 3%;
  z-index: 5;
}
