<div class ="container">
<div class="header">
  <p class="lead">Use your keyboard arrows or the controls to move around the image. Try and find all the items on the list. When you find something, click on it on the list to tick it off.</p> <br>
</div>

  <div class="row">
    <div class="col-2">
      <ul class="list-group findList text-center">
        <!--      show as active once item has been found-->
        <li class="list-group-item" id="item1" (click)="check(1)">St Paul's Church<img height="80px" src="../../assets/cosmo/stPauls.png"></li>
        <li  class="list-group-item " id="item2" (click)="check(2)">The Globe<img height="80px" src="../../assets/cosmo/globe.png"></li>
        <li  class="list-group-item " id="item3" (click)="check(3)">etc.</li>

      </ul>
    </div>


    <div class="col">
<!--    <div class="container2" id="c2" [style.backgroundPositionX]="backgroundLeft" [style.backgroundPositionY]="backgroundTop">-->
<div class="imageContainer">
  <div id="panorama" [style.left]="backgroundLeft" [style.top]="backgroundTop">
  <img id="panoramaimg" src="../../assets/cosmo/London_panorama.jpg" >
<!--    <a (click)="clicked()" id="stpauls"></a>-->
</div>

 <img class="img-fluid foregroundImg" src="../../assets/cosmoB322.png">

</div>


<!--    </div>-->
  </div>


  </div>



<!--  <img id="backgroundImg" [style.left]="backgroundLeft" [style.top]="backgroundTop" src="../../assets/sampleCosmoImg.jpg" />-->

  <div class ='controls'>
    <button id="up" class="btn btn-primary btn-sm" (click)="moveDown()"><img src="../../assets/arrow-up-outline.svg" height="25px"></button>
    <button id="left" class="btn btn-primary btn-sm" (click)="moveRight()"><img src="../../assets/arrow-back-outline.svg" height="25px"></button>
    <button id="right" class="btn btn-primary btn-sm" (click)="moveLeft()"><img src="../../assets/arrow-forward-outline.svg" height="25px"></button>
    <button id="down" class="btn btn-primary btn-sm" (click)="moveUp()"><img src="../../assets/arrow-down-outline.svg" height="25px"></button>

  </div>


  <div *ngIf="complete">
    <div class="box sb3">
 Well done, you have found all the hidden objects! <br>
      <button class="btn btn-primary" (click)="backToCosmoIntro()">Return to Cosmorama Rooms menu</button>
    </div>
    <img class="img-fluid characterImg" src="../../assets/cosmo/comsoWoman2.png">
  </div>


  <button class="btn btn-primary returnBtn" (click)="returnToBoard()"><img src="../../assets/arrow_back.svg">Return to Explorer Board</button>
</div>

