.characterContainer {
  position: relative;
  button {
    position: absolute;
    top: 60%;
    left: 70%;
  }
}

.characterText {
  position: absolute;
  top: 20%;
  left: 50%;
}
.returnBtn {
  position: absolute;
  bottom: 10%;
  z-index: 5;
  left: 20%;
}
