.characterContainer {
  position: relative;
  button {
    position: absolute;
    top: 60%;
    left: 70%;
  }
}

.characterText {
  position: absolute;
  top: 20%;
  left: 50%;
}
.returnBtn {
  position: absolute;
  bottom: 10%;
  z-index: 5;
  left: 20%;
}
.bold {
  font-weight: bold;
  color: #D9B23D;
}

.btn-circle.btn-sm {
  width: 40px;
  height: 40px;
  padding: 6px 0px;
  border-radius: 20px;
  font-size: 8px;
  text-align: center;
}
