<div class="container">
  <div class="countersContainer">
  <div class="title align-content-center">
    <h1>Players</h1>
  </div>


  <ngb-alert (close)="closeAlert()" *ngIf="showCounterAlert" type='warning'>Please enter your name and select a counter</ngb-alert>
    <ngb-alert (close)="closeAlert()" *ngIf="showSameNameAlert" type='warning'>Player 2 must have a different name to {{this.player1Name}}</ngb-alert>

  <!--  player 1 choices-->
  <div *ngIf="player1Choosing">
    <h3 class="player1Colour">Player 1</h3>
    <p>Enter your name and click on the counters below to listen to their sounds and choose which you want to use. Then click Finished.</p>
    <!--    player 1 enter name-->


      <form #p1Form="ngForm" (ngSubmit)="player1NameEntered() ">
        <div class="form-group row">
          <label class="col-1 col-form-label" for="player1Name">Name:</label>
          <div class="col nameInput">
            <input [(ngModel)]="player1Name" class="form-control mx-sm-3" id="player1Name"
                   name="player1Name"
           required type="text">
          </div>
          <div class="col-4">
            <button (click)="player1Finished()"  class="btn btn-primary">Finished</button>
          </div>
<!--          <div class="col-4">-->
<!--&lt;!&ndash;            <button [disabled]="!p1Form.form.valid" class="btn btn-primary" type="submit">Choose counter</button>&ndash;&gt;-->
<!--          </div>-->
        </div>


      </form>

    <!--    player 1 end choosing name-->

    <!--    player 1 choose counter-->
<!--    <div *ngIf="player1EnteredName === true">-->
      <div class="row">
<!--        <div class="col-9">-->
<!--          <p>Hello {{player1Name}}, click on the images below to select your counter. When you are happy, click Finished.</p>-->
<!--        </div>-->

      </div>

<!--    </div>-->
  </div>
  <!--player 1 end choices-->

  <!--   player 2 choices-->
  <div *ngIf="player2Choosing">
    <h3 class="player2Colour">Player 2</h3>
    <p>Enter your name and click on the counters below to listen to their sounds and choose which you want to use. Then click Finished.</p>
    <!--    player 2 enter name-->


      <form #p2Form="ngForm" (ngSubmit)="player2NameEntered() ">
        <div class="form-group row">
          <label class="col-1 col-form-label" for="player2Name">Name:</label>
          <div class="col nameInput">
            <input [(ngModel)]="player2Name" class="form-control" id="player2Name"
                   name="player2Name"
                    required type="text">
          </div>
          <div class="col-4">
            <button (click)="player2Finished()" class="btn btn-primary">Finished</button>
          </div>
<!--          <div class="col-4">-->
<!--            <button  class="btn btn-primary " type="submit">Choose counter</button>-->
<!--          </div>-->
        </div>
      </form>


    <!--   player 2 end entering name-->

    <!--  player 2 choose counter-->
<!--    <div *ngIf="player2EnteredName === true">-->
      <div class="row">
<!--        <div class="col-9">-->
<!--          <p>Hello {{player2Name}}, click on the images below to select your counter. When you are happy, click Finished.</p>-->
<!--        </div>-->

      </div>
    </div>
    <!--   end player 2 choosing counter-->
<!--  </div>-->
  <!--  player 2 end choices-->


  <!-- Counters-->
  <div class="container  counters">
    <div class="row">
      <div class="col-4">
  <img [ngClass]="{'highlight1': player1CounterNumber === 1, 'highlight2' : player2CounterNumber === 1, 'noHighlight' : player1CounterNumber != 1 && player2CounterNumber != 1}"  (click)="setCounter(1)" class="img-fluid" src="../../assets/boat125nb.png">

<!--        <div *ngIf="player1Counter != one && player2Counter != one">-->

<!--        </div>-->
      </div>
      <div class="col-4">
          <img [ngClass]="{'highlight1': player1CounterNumber === 2, 'highlight2' : player2CounterNumber === 2, 'noHighlight' : player1CounterNumber != 2 && player2CounterNumber != 2}"  (click)="setCounter(2)" class="img-fluid" src="../../assets/crown125nb.png">
      </div>
      <div class="col-4">

          <img [ngClass]="{'highlight1': player1CounterNumber === 3, 'highlight2' : player2CounterNumber === 3, 'noHighlight' : player1CounterNumber != 3 && player2CounterNumber != 3}"  (click)="setCounter(3)" class="img-fluid" src="../../assets/horse125nb.png">

      </div>

    </div>
    <div class="row">
      <div class="col-4">
        <img [ngClass]="{'highlight1': player1CounterNumber === 4, 'highlight2' : player2CounterNumber === 4, 'noHighlight' : player1CounterNumber != 4 && player2CounterNumber != 4}"  (click)="setCounter(4)" class="img-fluid" src="../../assets/lion125nb.png">
      </div>
<!--      <div class="col-3">-->
<!--          <img [ngClass]="{'highlight1': player1CounterNumber === 5, 'highlight2' : player2CounterNumber === 5, 'noHighlight' : player1CounterNumber != 5 && player2CounterNumber != 5}"  (click)="setCounter(5)" class="img-fluid" src="../../assets/monument125nb.png">-->
<!--      </div>-->
<!--      <div class="col-3">-->
<!--          <img [ngClass]="{'highlight1': player1CounterNumber === 6, 'highlight2' : player2CounterNumber === 6, 'noHighlight' : player1CounterNumber != 6 && player2CounterNumber != 6}"  (click)="setCounter(6)" class="img-fluid" src="../../assets/punch125nb.png">-->
<!--      </div>-->
      <div class="col-4">
          <img [ngClass]="{'highlight1': player1CounterNumber === 7, 'highlight2' : player2CounterNumber === 7, 'noHighlight' : player1CounterNumber != 7 && player2CounterNumber != 7}"  (click)="setCounter(7)" class="img-fluid" src="../../assets/sarco125nb.png">
      </div>
      <div class="col-4">
          <img [ngClass]="{'highlight1': player1CounterNumber === 8, 'highlight2' : player2CounterNumber === 8, 'noHighlight' : player1CounterNumber != 8 && player2CounterNumber != 8}"  (click)="setCounter(8)" class="img-fluid" src="../../assets/woman125nb.png">
      </div>
    </div>
  </div>
  <!--   end counters-->
  </div>

  <button class="btn btn-primary returnBtn" (click)="returnToHome()">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-return-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M5.854 5.646a.5.5 0 0 1 0 .708L3.207 9l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z"/>
      <path fill-rule="evenodd" d="M13.5 2.5a.5.5 0 0 1 .5.5v4a2.5 2.5 0 0 1-2.5 2.5H3a.5.5 0 0 1 0-1h8.5A1.5 1.5 0 0 0 13 7V3a.5.5 0 0 1 .5-.5z"/>
    </svg>
    Return to welcome screen</button>

</div>
