

//.ng-valid[required], .ng-valid.required  {
//  border-left: 5px solid #42A948; /* green */
//}
//
//.ng-invalid:not(form)  {
//  border-left: 5px solid #a94442; /* red */
//}

//.container {
//  background-image: url('../../assets/blankBackground.png');
//  background-repeat: repeat;
//  background-size: cover;
//
//}

.col-3 {
  padding-bottom: 10px;
  padding-top: 10px;
}

h1 {
  text-align: center;
}


.countersContainer {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.highlight1 {
  border: 2px solid #007bff;
}

.highlight2 {
  border: 2px solid #28a745;
}






