
.col-4 {
  padding-bottom: 10px;
  padding-top: 10px;
}

h1 {
  text-align: center;
}


.countersContainer {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.highlight1 {
  border: 3px solid #1D2C40;
  border-radius: 8px;
}

.highlight2 {
  border: 3px solid  #D9B23D;
  border-radius: 8px;
}

input {
  margin: 0;
  padding: 0;
}

h1 {
  padding-bottom: 20px;
}

h3 {
  padding-bottom: 20px;
}

.player1Colour {
  color: #1D2C40;
}

.player2Colour {
  color: #D9B23D;
}

.form-group {
  margin-left: auto;
  margin-right: auto;
}

.noHighlight {
  border: 2px solid #fd7e14;
  border-radius: 8px;
}

.box {
  position: relative;
}

.returnBtn {
  position: absolute;
  bottom: 5%;
  left: 5%;
  z-index: 5;
}
