<div class ="container text-center">


  <br>
  <div class="box sb3">
   Congratulations on winning {{winner}}! You get the pool and {{pool}} counters.<br>
    <button class="btn btn-primary" (click)="newPlayers()">New players
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-emoji-smile" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path fill-rule="evenodd" d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683z"/>
        <path d="M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
      </svg></button>
    <button class="btn btn-primary" (click)="readyToPlay()">Play again
      <svg [style.margin-bottom]="3" width="1em" height="1em" viewBox="0 0 14 14" class="bi bi-caret-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
      </svg></button>

  </div>


  <!--  <div class="row">-->
  <!--    <div class="col mainCol">-->
  <div class="mainCol">
    <img class="img-fluid characterImg" src="../../assets/boyFather2.png">

    <img class="img-fluid boardImg" src="../../assets/Game2.jpg">
  </div>
  <!--   </div>-->

  <!--  </div>-->




  <!--    <button class="btn btn-primary" (click)='clickWindow1()'>View cosmorama one<img src="../../assets/arrow_forward.svg"></button>-->
  <button class="btn btn-primary returnBtn" (click)="returnToWelcome()">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-return-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M5.854 5.646a.5.5 0 0 1 0 .708L3.207 9l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z"/>
      <path fill-rule="evenodd" d="M13.5 2.5a.5.5 0 0 1 .5.5v4a2.5 2.5 0 0 1-2.5 2.5H3a.5.5 0 0 1 0-1h8.5A1.5 1.5 0 0 0 13 7V3a.5.5 0 0 1 .5-.5z"/>
    </svg>Return to Welcome Screen</button>
</div>
