.mainCol {
  position: relative;
}


button {
  margin: 10px;
}

.returnBtn {
  position: absolute;
  bottom: 10%;
  z-index: 5;
  left: 7%;
}

//speech bubble

.box {
  margin: 50px auto;
  background: #1D2C40;
  padding: 20px;
  text-align: center;
  max-width: 20%;
  color: #fff;
  position: absolute;
  left: 35%;
  top: 23%;
  border-radius: 15px;
  z-index: 1;
}
.sb3:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #1D2C40;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  right: -20px;
}

.board {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  max-height: 100vh;
  /* mobile viewport bug fix */
  max-height: -webkit-fill-available;
}

.characterImg {
  position: absolute;
  width: 30%;
  top: 26%;
  left: 50%;
  z-index: 1;

}


.boardImg {
  max-width: 100%;
  -webkit-box-shadow: 6px 5px 14px 2px rgba(0,0,0,0.58);
  box-shadow: 6px 5px 14px 2px rgba(0,0,0,0.58);
}



