//.responsive {
//  width: 100%;
//  height: auto;
//}

.board {
  width: 100%;
  height: auto;
  position: relative;
}

.boardImg {
  max-width: 100%;
}

.counter {
  max-width: 7%;
  position: absolute;
}


.info {
  position: absolute;
  left: 45%;
  top: 40%;

  button {
    display: block;
    margin: 0 auto;
  }
}

.pool {
  position: absolute;
  left: 50%;
  top: 25%;
}

//.poolTally {
//  position: absolute;
//  left: 30%;
//  top: 40%;
//}
 .teetotum-modal {
     background-color: #f6eee1!important;

}

 .player1Bag{
   position: absolute;
   left: -5%;
   top: 25%;
 }

.player2Bag{
  position: absolute;
  left: 100%;
  top: 25%;
}

// .p1Pool {
//   position: absolute;
//   left: 30%;
//   top: 30%;
// }
//
//.p2Pool {
//  position: absolute;
//  left: 30%;
//  top: 30%;
//}


.square5 {
  position: absolute;
  left: 30px;
}

.modalImg {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.modal-body {
  background-image: url('../../assets/plainBackground.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.player1Colour {
  border: 3px solid #17a2b8;
  border-radius: 8px;
}

.player2Colour {
  border: 3px solid #28a745;
  border-radius: 8px;
}
