//.responsive {
//  width: 100%;
//  height: auto;
//}

.board {
  width: 100%;
  height: auto;
  position: relative;
}

.boardImg {
  max-width: 100%;
}

.counter {
  max-width: 7%;
  position: absolute;
}


.info {
  position: absolute;
  left: 40%;
  top: 40%;
}

.pool {
  position: absolute;
  left: 30%;
  top: 40%;
}

.poolTally {
  position: absolute;
  left: 30%;
  top: 40%;
}
 .teetotum-modal {
     background-color: #f6eee1!important;

}
