//.responsive {
//  width: 100%;
//  height: auto;
//}

.board {
  width: 100%;
  height: auto;
  position: relative;
}

.boardImg {
  max-width: 100%;
}

.counter {
  max-width: 7%;
  position: absolute;
}


.info {
  position: absolute;
  left: 50%;
  top: 40%;
}

.pool {
  position: absolute;
  left: 30%;
  top: 30%;
}

.poolTally {
  position: absolute;
  left: 30%;
  top: 40%;
}
 .teetotum-modal {
     background-color: #f6eee1!important;

}

 .player1Bag{
   position: absolute;
   left: 70%;
   top: 25%;
 }

.player2Bag{
  position: absolute;
  left: 70%;
  top: 60%;
}

 .p1Pool {
   position: absolute;
   left: 30%;
   top: 30%;
 }

.p2Pool {
  position: absolute;
  left: 30%;
  top: 30%;
}


.square5 {
  position: absolute;
  left: 30px;
}

.modalImg {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
