<div class="container">
  <div class="board">
  <img src="../../assets/Game.jpg" class="boardImg">
  <img class="p1" src="../../assets/p1.png" [style.top]="p1Top" [style.left]="p1Left">
  <img src="../../assets/p2.png" class="p2" [style.top]="p2Top" [style.left]="p2Left">
  </div>

  <div class="info">
   <p>Player 1: {{p1Square}}</p>
    <p>Player 2: {{p2Square}}</p>
    {{lastRoll}}
    <p>Current player: {{currentPlayer}}</p>
    <button class="btn-primary" (click)="roll()">Roll</button>
    <button class="btn-primary" (click)="startAgain()">Play again</button>
    <button class="btn-primary" (click)="step2On()">Step 1 on</button>

    <p>{{winningMessage}}</p>
  </div>

</div>

