<div class="container">

<!--  <ngb-alert type="info" *ngIf="!missAGoAlertClosed" (close)="missAGoAlertClosed = true">{{missAGoMessage}}</ngb-alert>-->

  <div class="board">
  <img src="../../assets/gameTransparent.png" class="boardImg">
  <img [@bounce]="bounce" class="counter player1Colour" src="../../assets/{{p1Counter}}125nb.png" [style.top]="p1Top" [style.left]="p1Left">
  <img [@bounce]="bounce" class=" counter player2Colour" src="../../assets/{{p2Counter}}125nb.png"  [style.top]="p2Top" [style.left]="p2Left">


<!--    <img [@zoomIn]=zoomIn  class="square5" src="../../assets/5.png" [style.visibility]="square5Visibility" >-->

  <div class="info">
<!--   <p>Player 1: {{p1Square}}</p>-->
<!--    <p>Player 2: {{p2Square}}</p>-->


<!--    display current player-->
    <div *ngIf="currentPlayer === 1" >
    <p>Current player: {{p1Name}}</p>
    </div>
    <div *ngIf="currentPlayer === 2">
      <p>Current player: {{p2Name}}</p>
    </div>


    <button class="btn btn-primary" (click)="roll(teetotum)">Spin teetotum</button>
<!--    <button class="btn-primary" (click)="startAgain()">Play again</button>-->

<!--    use for testing counter positioning-->
<!--    <button class="btn-primary" (click)="step2On()">Step 1 on</button>-->

    <p>{{winningMessage}}</p>

    <div *ngIf="!missAGoAlertClosed" class="missAGoMessage">

    </div>

  </div>


  <div class="pool">
    <img src="../../assets/gemy.svg" height="50">
    <p class="poolTally">Pool {{pool}}</p>
  </div>

  <div class="player1Bag">
    <img src="../../assets/gem1.svg" height="50">
    <p class="p1Pool">{{p1Name}} <br> {{p1Pool}}</p>
  </div>

    <div class="player2Bag">
      <img src="../../assets/gem2.svg" height="50">
    <p class="p2Pool">{{p2Name}} <br> {{p2Pool}}</p>
    </div>


  <!-- teetotum modal -->
  <ng-template #teetotum let-modal>
    <div class="modal-header">
      <!--      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>-->
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <img src="../../assets/teetotum.jpg">
      {{lastRoll}}
    </div>
  </ng-template>

    <button class="btn btn-primary" (click)="viewRules(rulesModal)">How to play</button>

    <form #test="ngForm" (ngSubmit)="testMoveSquare()">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label col-form-label" for="testSquare">Test square:</label>
        <div class="col-sm-10">
          <input [(ngModel)]="testSquare" class="form-control" id="testSquare"
                 name="testSquare">
        </div>
        <button class="btn btn-primary " type="submit">Submit</button>
      </div>
    </form>

    <!-- rules modal -->
    <ng-template  #rulesModal let-modal>
      <div class="modal-header">
        <!--      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>-->
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <br>
        <br>
        <br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </ng-template>


<!--    squares-->
    <ng-template #modal3 let-modal>
    <div  class="modal-body">
      <img class="modalImg" src="../../assets/3.png">
      <h3 class="text-center">The Horse Armoury. Go on to the Wild Beasts, No. 5.</h3>
    </div>
    </ng-template>

    <ng-template #modal5 let-modal>
      <div  class="modal-body modal-overlay">
<!--        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
        <img class="modalImg" src="../../assets/5.png" [style.padding]=" '10px'">
        <h3 class="text-center">The Wild Beasts. Stop two turns, and see them feed.</h3>
      </div>
    </ng-template>

    <ng-template #modal16 let-modal>
      <div  class="modal-body">
        <img class="modalImg" src="../../assets/16.png">
        <h3 class="text-center">Vauxhall Gardens. Here you have your pocket picked, and lose all the Counters you have left.</h3>
      </div>
    </ng-template>

</div>

