<div class="container text-center">

  <div *ngIf="introShowing">
  <div class="box sb3"><p>
    Hello, my name is Samuel Rush Meyrick. I hope you are enjoying your visit to the Tower of London. Come closer and
    take a look at the statues of famous kings from the past. I put them in chronological order (that is from oldest
    to newest). I know so much about arms and armour and have made sure that my display is exactly right. But oh no!
    Someone has mixed up the kings. Can you help me put them in the right order?

    Use your cursor to drag the kings to the correct place. Remember to click the kings and they will give you clues.
    You can use the buttons to leave the Horse Armoury and to play again.
  </p>
    <button (click)="finishMeyrick()" class="btn btn-primary">Ready to play<img src="../../assets/arrow_forward.svg">
    </button>
  </div>
</div>

  <div *ngIf="!introShowing">
    <div class="box sb3"><p>
    Thank you, you have really helped me...
    </p>

      <button (click)="returnToBoard()" class="btn btn-primary">Finish<img src="../../assets/arrow_back.svg">
      </button>
      <button (click)="finishMeyrick()" class="btn btn-primary">Play again<img src="../../assets/arrow_forward.svg">
      </button>
    </div>
  </div>


  <div class="mainCol">
    <img class="img-fluid characterImg" src="../../assets/kings/meyrick.png">
    <img class="img-fluid boardImg" src="../../assets/3.png">

  </div>




  <!--        <button (click)="finishMeyrick()" class="btn btn-primary">Ready to play<img src="../../assets/arrow_forward.svg"></button>-->
  <button class="btn btn-primary returnBtn" (click)="returnToBoard()"><img src="../../assets/arrow_back.svg">Return to Explorer Board</button>


</div>
