<div class ="container text-center">

  <h3>Race Game</h3>

    <div class="box sb3">
   Intro to race game...
      <button class="btn btn-primary" (click)="readyToPlay()"><img src="../../assets/arrow_forward.svg">Ready to Play</button>
    </div>


  <!--  <div class="row">-->
  <!--    <div class="col mainCol">-->
  <div class="mainCol">
    <img class="img-fluid characterImg" src="../../assets/boyFather.png">

    <img class="img-fluid boardImg" src="../../assets/Game2.jpg">
  </div>
  <!--   </div>-->

  <!--  </div>-->




  <!--    <button class="btn btn-primary" (click)='clickWindow1()'>View cosmorama one<img src="../../assets/arrow_forward.svg"></button>-->
  <button class="btn btn-primary returnBtn" (click)="returnToWelcome()"><img src="../../assets/arrow_back.svg">Return to Welcome Screen</button>
</div>
