<div class ="container text-center">

    <div class="box sb3">
   Intro to race game... <br>
      <button class="btn btn-primary" (click)="readyToPlay()"><img src="../../assets/arrow_forward.svg">Ready to Play</button>
    </div>



    <img class="img-fluid characterImg" src="../../assets/boyFather2.png">

    <img class="img-fluid boardImg" src="../../assets/Game2.jpg">




  <!--    <button class="btn btn-primary" (click)='clickWindow1()'>View cosmorama one<img src="../../assets/arrow_forward.svg"></button>-->
  <button class="btn btn-primary returnBtn" (click)="returnToWelcome()"><img src="../../assets/arrow_back.svg">Return to Welcome Screen</button>
</div>
