<div class="container">
  <h2>Line of Kings</h2>
    <h3>The Armoury</h3>

  <div cdkDropListOrientation="horizontal" class=" kingsList" cdkDropList (cdkDropListDropped)="drop($event)">
    <div class="card kingBox" *ngFor="let king of kings" cdkDrag >
      <img class="card-img-top" src="../../assets/face.svg" alt="King image">
     <div class="card-title">{{king}}</div>

    </div>
  </div>

  <div *ngIf="correctOrder">
    <h3>Correct order!</h3>
    <button class="btn btn-primary" (click)="reset()">Play again</button>
  </div>

</div>
