h2 {
  padding: 10px;
}

h4 {
  padding-top: 20px;
}

  .smallCardImg {
    cursor: pointer;
    margin: 0;
    padding: 0;
  }




//----- CDK reorderable list
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.kingsList {
  margin-top: 60px;
  max-width: 100%;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  //background: white;
  //border-radius: 4px;
  //overflow: hidden;
  //position: relative;
  // width: 1000px;
  //border: solid 1px #ccc;

}

.kingBox {
  // cursor to use if browser doesn't support grab
  cursor: move;
  cursor: grab;
  padding: 20px 10px;
  //border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  align-items: center;
  //justify-content: space-between;
  //box-sizing: border-box;
  //display: flex;
  //flex-direction: row;
  //background: white;
}

//.kingBox:active {
//  cursor: grabbing;
//}


//----- Speech bubbles
.speech-bubble {
  position: absolute;
  background: #6c757d;
  border-radius: .4em;
  p {
    padding: 20px;
  }
  top: 110%;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom-color: #6c757d;
  border-top: 0;
  margin-left: -20px;
  margin-top: -20px;
}

.card {
  margin: 5px;
  padding: 0!important;

}


.close {
  padding: 10px;
}

button {
  margin: 10px;
}



.meyrickContainer {
  position: relative;
 button {
    position: absolute;
   top: 60%;
   left: 70%;
  }
}

.meyrickText {
  position: absolute;
  top: 20%;
  left: 50%;
}

#helpCardImg {
//margin-left: auto;
//  margin-right: auto;
}

.closeButton {
  float: right;
}

.returnBtn {
  position: absolute;
  bottom: 10%;
}
//speech bubble

.box {
  margin: 50px auto;
  background: #1D2C40;
  padding: 20px;
  text-align: center;
  max-width: 20%;
  color: #fff;
  position: absolute;
  left: 62%;
  top: 5%;
  border-radius: 15px;
}

.sb3:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid #1D2C40;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  left: -35px;
}

//button {
//  z-index: 5;
//}

//.characterImg {
//  position: absolute;
//  left: 20%;
//  bottom: 20%;
//  z-index: 1;
//  max-width: 40%;
//}
