.titleImg {
  max-width: 100%;
  //position: relative;
  margin: auto;
}

.options {
  position: absolute;
  left: 34%;
  top: 40%;
}

.modal-body {
  background-image: url('../../assets/rulesEmpty.png');
  background-repeat: no-repeat;
  background-size: cover;
}

button {
 margin: 10px;
}
