<div class="container">
  <div class="welcomeContainer">


<!--<h1>Scenes in London</h1>-->

<!--  <img class="titleImg mx-auto d-block rounded" src="../../assets/1.png">-->

    <img class="characterImg" src="../../assets/crow.png">

    <div class="box sb3">
    Welcome to London in 1820....... Would you like to play the board game or explore the board? (to do better text)
      <br>
      <button class="btn btn-primary" (click)="playGame()">Race game</button>
      <button class="btn btn-primary" (click)="playExplorer()">Explorer mini games</button>
    </div>


  <div class="options">
<!--    <div class="btn-group" role="group">-->

<!--      <button class="btn btn-primary" (click)="viewRules(rulesModal)">How to play</button>-->
<!--    </div>-->
  </div>


<!--  &lt;!&ndash; rules modal &ndash;&gt;-->
<!--  <ng-template  #rulesModal let-modal>-->
<!--    <div class="modal-header">-->
<!--      &lt;!&ndash;      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>&ndash;&gt;-->
<!--      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">-->
<!--        <span aria-hidden="true">&times;</span>-->
<!--      </button>-->
<!--    </div>-->
<!--    <div class="modal-body">-->

<!--<br>-->
<!--      <br>-->
<!--      <br>-->
<!--      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.-->
<!--    </div>-->
<!--  </ng-template>-->
  </div>
</div>
