

.characterImg {
  position: absolute;
width: 40vw;
  left: 15%;
  top: 30%;
}

.h-100 {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  max-height: 100vh;
  /* mobile viewport bug fix */
  max-height: -webkit-fill-available;
}

.btn-primary {
  margin: 5px;
}

.btn-sm {
  margin-top: 3px;
}


//speech bubble
.box {
  margin-top: auto;
  margin-bottom: auto;
  background: #1D2C40;
  padding: 20px;
  text-align: center;
  color: #fff;
  border-radius: 15px;
}
.sb3:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #1D2C40;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: -4px;
  top: 50%;
}


.boardImg {
  z-index: -1;
  //height: 95vh;
  //width: auto;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  max-height: 100vh;
  /* mobile viewport bug fix */
  max-height: -webkit-fill-available;
position: absolute;
  top: 0;
  border-radius: 10px;
  box-shadow: 0 0 30px #1D2C40;
}

.bold {
  font-weight: bold;
  color: #D9B23D;
}


.btn-circle.btn-sm {
  width: 40px;
  height: 40px;
  padding: 6px 0px;
  border-radius: 20px;
  font-size: 8px;
  text-align: center;
}
