<div class="container text-center">
  <h3 class="font-weight-light mt-4">Click on each item from the list in the museum display. If you need a hint, click on an item in the list.</h3>
<br>

<!--      <button class="btn btn-primary readyBtn" (click)="playingGame = true">Ready to play<img src="../../assets/arrow_forward.svg"></button>-->
  <ngb-alert (close)="closeAlert()" *ngIf="showAlert" type='warning'>Coming soon!</ngb-alert>



<div class="row">
  <div class="col-10">
<div id="image-map">
    <img class="img-fluid boardImg" src="../../assets/museum/11BorderHier.jpg">
  <a id="sarco" (click)="foundItem('sarco')"></a>
<!--  <a id="mask" (click)="foundItem('mask')" ></a>-->
  <a id="cockerel" (click)="foundItem('cockerel')" ></a>
  <a id="peacock" (click)="foundItem('peacock')" ></a>
  <a id="duck" (click)="foundItem('duck')" ></a>
  <a id="snake" (click)="foundItem('snake')"></a>
  <a id="yFish" (click)="foundItem('yFish')" ></a>
  <a id="turkey" (click)="foundItem('turkey')" ></a>
  <a id="bigFish" (click)="foundItem('bigFish')" ></a>
  <a id="hat" (click)="foundItem('hat')" ></a>
  <a id="hier" (click)="foundItem('hier')" ></a>
  <a id="dog" (click)="foundItem('dog')" ></a>
  </div>
  </div>

<div class="col-2">
  <div class="findList">
    <ul class="list-group">
<!--      show as active once item has been found-->
      <li *ngIf="sarco === false" (click)="reveal('sarco')" class="list-group-item">Sarcophagus</li>
      <li *ngIf="sarco === true" class="list-group-item active">Sarcophagus    &#10003;</li>
      <li *ngIf="duck == false"  (click)="reveal('duck')" class="list-group-item">Duck</li>
      <li *ngIf="duck == true"  class="list-group-item active">Duck   &#10003;</li>
      <li *ngIf="snake == false" (click)="reveal('snake')" class="list-group-item">Snake</li>
      <li *ngIf="snake == true" class="list-group-item active">Snake   &#10003;</li>
<!--      <li *ngIf="mask == false" (click)="reveal('mask')" class="list-group-item">Mask</li>-->
<!--      <li *ngIf="mask == true" class="list-group-item active">Mask   &#10003;</li>-->
      <li *ngIf="yFish == false" (click)="reveal('yFish')" class="list-group-item">Yellow fish</li>
      <li *ngIf="yFish == true" class="list-group-item active">Yellow fish   &#10003;</li>
      <li *ngIf="turkey == false" (click)="reveal('turkey')" class="list-group-item">Turkey</li>
      <li *ngIf="turkey == true" class="list-group-item active">Turkey   &#10003;</li>
      <li *ngIf="peacock == false" (click)="reveal('peacock')" class="list-group-item">Peacock</li>
      <li *ngIf="peacock == true" class="list-group-item active">Peacock   &#10003;</li>
      <li *ngIf="cockerel == false" (click)="reveal('cockerel')" class="list-group-item">Cockerel</li>
      <li *ngIf="cockerel == true" class="list-group-item active">Cockerel   &#10003;</li>
      <li *ngIf="bigFish == false" (click)="reveal('bigFish')" class="list-group-item">Chinese dragon</li>
      <li *ngIf="bigFish == true" class="list-group-item active">Chinese dragon   &#10003;</li>
      <li *ngIf="hat == false" (click)="reveal('hat')" class="list-group-item">Top hat</li>
      <li *ngIf="hat == true" class="list-group-item active">Top hat   &#10003;</li>
      <li *ngIf="hier == false" (click)="reveal('hier')" class="list-group-item">Hieroglyphics</li>
      <li *ngIf="hier == true" class="list-group-item active">Hieroglyphics   &#10003;</li>
      <li *ngIf="dog == false" (click)="reveal('dog')" class="list-group-item">Dog</li>
      <li *ngIf="dog == true" class="list-group-item active">Dog   &#10003;</li>
    </ul>

  </div>
  <button class="btn btn-outline-primary" (click)="showAlert = true">COMING SOON <br> Mix it up</button>
</div>
</div>


  <div class="text-center" *ngIf="sarco === true && mask === true && cockerel === true && peacock === true && duck === true && snake === true && yFish === true && turkey === true && bigFish === true && hat === true">
    <h3>Well done, you found all the objects!</h3>
    <button class="btn btn-primary" (click)="reset()">Play again</button>
<!--    <button class="btn btn-primary" (click)="returnToBoard()"><img src="../../assets/arrow_back.svg">Return to Explorer Board</button>-->
  </div>



  <button class="btn btn-primary returnBtn" (click)="returnToBoard()">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-return-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M5.854 5.646a.5.5 0 0 1 0 .708L3.207 9l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z"/>
      <path fill-rule="evenodd" d="M13.5 2.5a.5.5 0 0 1 .5.5v4a2.5 2.5 0 0 1-2.5 2.5H3a.5.5 0 0 1 0-1h8.5A1.5 1.5 0 0 0 13 7V3a.5.5 0 0 1 .5-.5z"/>
    </svg>
    Return to Explorer Board</button>

</div>

